/*
//colors
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color : white;

// breakpoints
$break-small: 560px;
$break-large: 1028px;


body {
    background-color: $body-background-color;
}

#contactform {
    background-color: $form-background-color;
    input, textarea {
        background-color: $input-color;
        flex: 2;
    }
}   

#contactform {
    background-color: $form-background-color;
    input, textarea {
        background-color: $input-color;
        flex: 2;
    }
    @media (min-width: $break-small) {
       & {
          width: 90%;
          max-width: 700px;
          margin-left: auto;
          margin-right: auto; 
        } 
    }
    @media (min-width: $break-large) {
        & {
           width: 70%;
           max-width: 900px;
           margin-left: auto;
           margin-right: auto; 
         } 
     }
}

/*
.flex-container {
    display: -webkit-box;
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-flex-flow: row wrap;
       -ms-flex-flow: row wrap;
       flex-flow: row wrap;
   }
*/
/*
   @mixin flex-container() {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

fieldset > div {
    @include flex-container;        
}

*/
/*
@mixin flex-container($axis, $wrap: nowrap) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: $axis $wrap;
    -ms-flex-flow: $axis $wrap;
    flex-flow: $axis $wrap;
}

fieldset > div {
    @include flex-container(column);        
}

*/
/*
.center {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
 */
/*
 @mixin center ($width, $max-width: 60px) {
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#contactform {
    @include center(100, 25%);
}
*/
/*
@mixin center ($width, $max-width: 960px) {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  #content {
      @include center;
  }

  */
/*
  //set breakpoint sizes
$break-small: 20em;
$break-medium: 31em;
$break-large: 60em;

@mixin breakpoint($break) {
@if $break == large {
@media (max-width: $break-large) { @content; }
}
@else if $break == medium {
@media (max-width: $break-medium) { @content; }
}
@else if $break == small {
@media (max-width: $break-small) { @content; }
} @else {
@media ($break) { @content; }
}
}  

*/
/* Global styles */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: darkred;
}

#contactform > {
  background-color: burlywood;
}
#contactform > a:hover {
  background-color: antiquewhite;
}
#contactform > input, #contactform > textarea {
  background-color: antiquewhite;
  flex: 2;
}
@media (min-width: 31em) {
  #contactform > {
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 60em) {
  #contactform > {
    width: 70%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

#contactform fieldset > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
#contactform fieldset > div label {
  flex: 1;
  text-align: left;
}
@media (min-width: 31em) {
  #contactform fieldset > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  #contactform fieldset > div label {
    text-align: right;
    margin-right: 1em;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
