@import 'typography';
@import 'icons';
@import 'breakpoints';
@import 'colors';

.site-banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(218, 214, 214);
}

.site-banner__left {
    grid-column: 1;
    grid-row: 1;
}


.site-banner__right {
    grid-column: 2;
    grid-row: 1;
}

.form1 {
    grid-column: 3;
    grid-row: 1;
}