// Colors

$color-1: #fdb900; // Yellow
$color-2: #ffffff; // White
$color-3: #e6e6e6; // White
$color-4: #c2bfbe; // light grey
$color-5: #313131; // Black

// additional colors
$success: #6fce72; // green
$alert: $color-3; // red
