// Icons & Images

#icons {

    figure {
      display: inline-block;
      padding: 0 25px 0 25px;
    }
  .our-images {
    width: 100px;
  }

  .cd-icons li {
    /* icons size */
    width: 100px;
    height: 100px;
  }
  }