// Colors

$color-1: #33A532;
$color-2: #FAD201;
$color-3: #CC0605;
$color-4: #FFFFFF;
$color-5: #B2B0AF;
$color-6: #303131;
$color-7: #FBB831;
$color-8: #000000;

$border-1: dashed .3em $color-7;
$border-2: dashed 4px $color-5;

$circle-height: 4.5em;
$circle-width: 4.5em;

$circle-line-height: 4.5em;
